@import "tailwindcss";
.font-visby {
  font-family: "Visby", sans-serif;
}
@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

.animate-slide {
  animation: slide 2s ease-in forwards;
}
